.form {
  display: flex;
  flex-direction: column;
  width: 360px;
  position: relative;
}

.locationIcon {
  width: 20px;
  height: 20px;
  fill: var(--text-dark);
  position: absolute;
  top: 50px;
  left: 18px;
}

.locationLabel {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: var(--main-text-gray);
}

.locationInput {
  margin-top: 8px;
  font-family: Inter;
  padding: 18px 20px 18px 46px;
  border-radius: 12px;
  outline: none;
  border: none;
  background-color: var(--inputs-light-gray);
  color: var(--text-dark);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.locationInput::placeholder {
  color: var(--main-text-gray);
}

.locationInput:placeholder-shown + .locationIcon {
  fill: var(--main-text-gray);
}

.filtersText {
  color: var(--main-text-bluish-gray);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  margin-top: 40px;
}

.filterNameText {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: var(--text-dark);
  margin-top: 32px;
}

.button {
  width: 166px;
  margin-top: 40px;
}

.optionLabel {
  width: 112px;
  height: 96px;
}

.optionSpan {
  width: 112px;
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid var(--borders-light-gray);
  box-sizing: border-box;
}

.optionSpan:hover {
  cursor: pointer;
  border-color: var(--red);
}

.optionInput:checked + .optionLabel .optionSpan {
  border-color: var(--red);
}

.optionIcon {
  width: 32px;
  height: 32px;
  fill: var(--text-dark);
}

.optionInput {
  position: absolute;
  width: 112px;
  height: 96px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
}

.optionText {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.005em;
  text-align: center;
  color: var(--text-dark);
}

.group {
  position: relative;
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 8px;
  margin-top: 48px;
}

.group::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 360px;
  top: -24px;
  left: 0;
  background-color: var(--borders-light-gray);
}
