.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.03em;
  background-color: var(--red);
  color: var(--white);
  padding: 16px 60px;
  border: none;
  border-radius: 200px;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  cursor: pointer;
}

.button:hover, .button:active {
    background-color: var(--hover-red);
}
